{{ 'component-card.css' | asset_url | stylesheet_tag }}

<article class="product-card">
  <a href="{{ product.url }}" class="product-card__link" aria-label="View {{ product.title }}">
    <div class="product-card__image-wrapper">
      {% if product.tags contains 'badge' %}
        <span class="product-card__badge">BESTSELLER</span>
      {% endif %}
      <img
        src="{{ product.featured_image.src | img_url: '600x' }}"
        class="product-card__image"
        alt="{{ product.title }}"
        width="auto"
        height="auto"
      >
    </div>

    <div class="product-card__footer">
      <div class="product-card__info">
        <h4 class="product-card__title">{{ product.title }}</h4>

        <h4 class="product-card__price">
          {% if product.compare_at_price > product.price %}
            <span class="product-card__price-sale">{{ product.price | money }}</span>
            <span class="product-card__price-compare">{{ product.compare_at_price | money }}</span>
          {% else %}
            <span class="product-card__price">{{ product.price | money }}</span>
          {% endif %}
        </h4>
      </div>

      {% form 'product', product %}
        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
        <input type="hidden" name="quantity" value="1">
        <button type="submit" class="product-card__add-to-cart" aria-label="Add {{ product.title }} to cart">
          <!-- SVG иконка корзины -->
          <svg
            class="product-card__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            viewBox="0 0 28 28"
            fill="none"
          >
            <rect width="28" height="28" rx="6" fill="#212322"/>
            <path d="M19.1042 10.5H8.89548C8.77258 10.5 8.65392 10.5449 8.56183 10.6263C8.46974 10.7077 8.41058 10.8199 8.39548 10.9419L7.50486 18.4419C7.49662 18.5122 7.50343 18.5836 7.52484 18.6511C7.54625 18.7186 7.58177 18.7809 7.62905 18.8336C7.67633 18.8864 7.73428 18.9285 7.79907 18.9572C7.86386 18.9859 7.934 19.0005 8.00486 19H19.9949C20.0657 19.0005 20.1359 18.9859 20.2006 18.9572C20.2654 18.9285 20.3234 18.8864 20.3707 18.8336C20.4179 18.7809 20.4535 18.7186 20.4749 18.6511C20.4963 18.5836 20.5031 18.5122 20.4949 18.4419L19.6042 10.9419C19.5891 10.8199 19.53 10.7077 19.4379 10.6263C19.3458 10.5449 19.2271 10.5 19.1042 10.5Z" stroke="#FAFAF8" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11.5 10.5V10C11.5 9.33696 11.7634 8.70107 12.2322 8.23223C12.7011 7.76339 13.337 7.5 14 7.5C14.663 7.5 15.2989 7.76339 15.7678 8.23223C16.2366 8.70107 16.5 9.33696 16.5 10V10.5" stroke="#FAFAF8" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      {% endform %}
    </div>
  </a>
</article>
