{{ 'section-about.css' | asset_url | stylesheet_tag }}

{{ 'section-about.css' | asset_url | stylesheet_tag }}

<section class="about-section" aria-label="About Section">
  {% for block in section.blocks %}
    <div class="about" id="block-{{ block.id }}">
      <div class="about__info">
        <h2 class="about__info-title">{{ block.settings.title }}</h2>
        <p class="about__info-paragraph">{{ block.settings.text }}</p>
      </div>

      <div class="about__image-wrapper">
        <img
          class="about__image"
          src="{{ block.settings.image | img_url: 'master' }}"
          alt="{{ block.settings.title }}"
          loading="lazy"
          width="auto"
          height="auto"
        >
      </div>
    </div>
  {% endfor %}
</section>

<style></style>

{% schema %}
{
  "name": "About Us",
  "blocks": [
    {
      "type": "about_block",
      "name": "About Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Our Company"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Paragraph",
          "default": "GOpure was laun"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
