{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      {% for block in section.blocks -%}
        {% if block.type == 'column' %}
          <div class="footer__column">
            <h3 class="footer__column-title">{{ block.settings['column-title'] }}</h3>

            {% assign menu = linklists[block.settings['column-item']] %}
            {% if menu.links.size > 0 %}
              <ul>
                {% for link in menu.links %}
                  <li class="footer__item">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% elsif block.type == 'subscription-column' %}
          <div class="footer__column">
            <h3>
              <label class="footer__column-subscription-title footer__column-title" for="footer__input">
                {{ block.settings['subscription-title'] -}}
              </label>
            </h3>
            <form class="footer__form">
              {% comment %} <input type="text" placeholder="Email"> {% endcomment %}
              <div class="search-input-wrapper">
                <input id="footer__input" type="email" class="search-input" placeholder="Your E-mail" required>
                <button class="footer__form-button" type="submit" aria-label="Subscribe">
                  <img
                    src="{{ 'input-search-icon.svg' | asset_url }}"
                    alt="Search Icon"
                    class="search-icon"
                    width="24px"
                    height="24px"
                  >
                </button>
              </div>
            </form>

            <ul class="footer__socials">
              {% if block.settings.linkedin_url != blank %}
                <li>
                  <a href="{{block.settings.linkedin_url}}" target="_blank"
                    ><img src="{{ 'linkedin.svg' |  asset_url }}" alt="LinkedIn Logo" width="24" height="24">
                  </a>
                </li>
              {% endif %}

              {% if block.settings.facebook_url != blank %}
                <li>
                  <a href="{{block.settings.facebook_url}}" target="_blank"
                    ><img src="{{ 'facebook.svg' |  asset_url }}" alt="FaceBook Logo" width="24" height="24">
                  </a>
                </li>
              {% endif %}

              {% if block.settings.instagram_url != blank %}
                <li>
                  <a href="{{block.settings.instagram_url}}" target="_blank"
                    ><img src="{{ 'instagram.svg' |  asset_url }}" alt="Instagram Logo" width="24" height="24">
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="footer__bottom">
      {% comment %} <img class="footer__logo" src="{{ 'logo-white.svg' | asset_url }}" alt="Logo Img" width="264" height="66"> {% endcomment %}
      <picture class="footer__logo">
        <source
          srcset="{{ 'logo-sign-white.svg' | asset_url }}"
          media="(max-width: 767px)"
          width="66"
          height="66"
        >
        <img
          src="{{ 'logo-white.svg' | asset_url }}"
          alt="Logo Img"
          width="264"
          height="66"
        >
      </picture>
      <div>{{ section.settings.copyright }}</div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "id": "copyright",
      "type": "text",
      "label": "Copyright",
      "default": "© 2023 | Focused Fits | All Rights Reserved."
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Menu Column",
      "settings": [
        {
          "type": "text",
          "id": "column-title",
          "label": "Column Title"
        },
        {
          "type": "link_list",
          "id": "column-item",
          "label": "Column Item"
        }
      ]
    },
    {
      "type": "subscription-column",
      "name": "Subscription Column",
      "settings": [
        {
          "type": "text",
          "id": "subscription-title",
          "label": "Subscription Title",
          "default": "GET 10% OF CASHBACK"
        },
        {
          "type": "url",
          "id": "linkedin_url",
          "label": "LinkedIn URL"
        },
        {
          "type": "url",
          "id": "facebook_url",
          "label": "Facebook URL"
        },
        {
          "type": "url",
          "id": "instagram_url",
          "label": "Instagram URL"
        }
      ]
    }
  ]
}
{% endschema %}
