{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

<div class="product">
  <div class="product__slider-wrapper">
    {% if product.images.size > 1 %}
      <div class="product__slider">
        {% for image in product.images %}
          <div class="product__slider-slide {% if forloop.first %}active{% endif %}">
            <img src="{{ image | image_url: master }}" alt="{{ image.alt | escape }}" width="auto" height="auto">
          </div>
        {% endfor %}

        <div class="slider__arrows">
          <button class="slider-arrow slider-arrow--prev" aria-label="Previous slide">
            <img src="{{ 'arrow.svg' | asset_url }}" alt="" width="24" height="24">
          </button>
          <button class="slider-arrow slider-arrow--next" aria-label="Next slide">
            <img src="{{ 'arrow.svg' | asset_url }}" alt="" width="24" height="24" style="transform: rotate(180deg)">
          </button>
        </div>

        <div class="slider__dots"></div>
      </div>

    {% elsif product.images.size == 1 %}
      <div class="product__image-single">
        <img
          src="{{ product.featured_image | image_url: master }}"
          alt="{{ product.featured_image.alt | escape }}"
          width="auto"
          height="auto"
        >
      </div>

    {% else %}
      <p>No images available for this product.</p>
    {% endif %}
  </div>

  <div class="product-gallery">
    <ul class="product-gallery__thumbnails">
      {% for image in product.images %}
        <li class="product-gallery__thumbnail-item">
          <img
            src="{{ image | img_url: '96x122' }}"
            alt="Thumbnail {{ forloop.index }}"
            class="product-gallery__thumbnail"
            width="auto"
            height="auto"
          >
        </li>
      {% endfor %}
    </ul>

    <div class="product-gallery__main">
      <img
        id="product-gallery__main-image"
        src="{{ product.selected_or_first_available_variant.featured_image | img_url: '800x800' }}"
        alt="Main image"
        class="product-gallery__image"
        width="auto"
        height="auto"
      >
    </div>
  </div>

  <div>
    <div class="product__data">
      <div class="product__data-info">
        <h1 class="product__data-title">
          {{ product.title | escape }}
        </h1>

        <div class="product__data-prices">
          {% assign variant = product.selected_or_first_available_variant %}
          <span class="product__data-prices-sale">
            {{ variant.price | money }}
          </span>
          <span class="product__data-prices-compare">
            {{ variant.compare_at_price | money }}
          </span>
          <span class="product__data-prices-regular">
            {{ variant.price | money }}
          </span>
        </div>
      </div>

      {% render 'separator' %}
      {% form 'product', product, id: 'product__form', class: 'product__form' %}
        <input id="product-id" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

        <fieldset class="product__sizes">
          <legend class="product__sizes-title">
            Size:
            <span id="selected-size">
              {% for option in product.options_with_values %}
                {% if option.name == 'Size' %}
                  {{ option.selected_value }}
                {% endif %}
              {% endfor %}
            </span>
          </legend>

          {% for option in product.options_with_values %}
            {% if option.name == 'Size' %}
              {% for value in option.values %}
                {% assign matched_variant = product.variants | where: 'title', value | first %}
                <label class="product__size">
                  <input
                    type="radio"
                    name="{{ option.name }}"
                    value="{{ matched_variant.id }}"
                    class="product__size-input"
                    {% if option.selected_value == value %}
                      checked
                    {% endif %}
                    {% unless matched_variant.available %}
                      disabled
                    {% endunless %}
                  >
                  <span class="product__size-label">{{ value }}</span>
                </label>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </fieldset>
        {% render 'separator' %}

        <div class="product__purchase">
          <div class="product__purchase-quantity">
            {% render 'minus' %}
            <span class="product__purchase-quantity-value">1</span>
            {% render 'plus' %}
          </div>

          <button type="submit" class="product__purchase-button">Add to cart</button>
        </div>
      {% endform %}
    </div>

    <div class="metafields">
      {% if product.metafields.custom.product_details %}
        <div class="metafields__item">
          <div class="metafields__header">
            <div class="metafields__title">Product details</div>
            <button class="metafields__toggle">
              <img
                src="{{ 'arrow.svg' | asset_url }}"
                alt="Toggle Button"
                width="16"
                height="16"
                class="metafields__icon"
              >
            </button>
          </div>
          <div class="metafields__content">{{ product.metafields.custom.product_details }}</div>
        </div>
      {% endif %}

      {% if product.metafields.custom.product_features %}
        <div class="metafields__item">
          <div class="metafields__header">
            <div class="metafields__title">Product features</div>
            <button class="metafields__toggle">
              <img
                src="{{ 'arrow.svg' | asset_url }}"
                alt="Toggle Button"
                width="16"
                height="16"
                class="metafields__icon"
              >
            </button>
          </div>
          <div class="metafields__content">{{ product.metafields.custom.product_features }}</div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
  // BEcause loading 3-party library
    document.addEventListener('DOMContentLoaded', () => {
      let product = {{ product | json }}

      // SIZE CHANGE
      document.querySelectorAll('.product__size-input').forEach((radio) => {
        radio.addEventListener('change', () => {
          // FIND MATCHED VARIANT BY SELECTED SIZE
          const selectedId = document.querySelector('.product__size-input:checked')?.value;

          let matchedVariant = product.variants.find((variant) => {
            return String(variant.id) === selectedId;
          });

          if (!matchedVariant) return;

          // Change product form variant Id
          document.querySelector('#product-id').value = matchedVariant.id;

          // Change selected size
          const sizeIndex = product.options.findIndex(opt => opt === 'Size');
          const sizeValue = sizeIndex !== -1 ? matchedVariant.options[sizeIndex] : '';
          document.querySelector('#selected-size').textContent = sizeValue;

          // Change prices
          const saleEl = document.querySelector('.product__data-prices-sale');
          const compareEl = document.querySelector('.product__data-prices-compare');
          const regularEl = document.querySelector('.product__data-prices-regular');

          const formattedPrice = Shopify.formatMoney(matchedVariant.price);
          const formattedCompare = Shopify.formatMoney(matchedVariant.compare_at_price);

          saleEl.textContent = formattedPrice;
          compareEl.textContent = formattedCompare;
          regularEl.textContent = formattedPrice;

          const hasDiscount =
          matchedVariant.compare_at_price &&
          matchedVariant.compare_at_price > matchedVariant.price;

          saleEl.classList.toggle('hidden', !hasDiscount);
          compareEl.classList.toggle('hidden', !hasDiscount);
          regularEl.classList.toggle('hidden', hasDiscount);

          // Change URL to matched variant
          let url = new URLParse(window.location.href, true)
          url.query.variant = matchedVariant.id;
          window.history.replaceState(null, null, url.toString());
        });
      });
  });
</script>

{% schema %}
{
  "name": "Main Product",
  "settings": []
}
{% endschema %}
