{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<div class="collection-banner">
  {% assign collection_image = collection.image %}
  {% if section.settings.collection_banner_image %}
    {% assign collection_image = section.settings.collection_banner_image %}
  {% endif %}
  <div class="collection-banner__wrapper">
    <img
      class="collection-banner__wrapper-image"
      src="{{ collection_image | image_url }}"
      alt="Collection Banner"
      width="auto"
      height="auto"
    >
  </div>

  <div class="collection-banner__content">
    <h1 class="collection-banner__title">{{ section.settings.collection_banner_title }}</h1>
  </div>
</div>

<style>
  .collection-banner__title {
    color: {{ section.settings.title_color }};
    font-size: {{ section.settings.title_size }}px;
  }
</style>

{% schema %}
{
  "name": "Collection.Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "collection_banner_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "collection_banner_title",
      "label": "Title",
      "default": "Men’s Crew Necks"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#121212"
    },
    {
      "id": "title_size",
      "label": "Title Size",
      "type": "range",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Collection Banner"
    }
  ]
}
{% endschema %}
